<a href="https://colab.research.google.com/github/AsifQuasmi/Data-Science/blob/master/Pandas_DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
from numpy.random import randn

In [ ]:
np.random.seed(101)

In [ ]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['w','x','y','Z'])

In [ ]:
df

          w         x         y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df['w']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: w, dtype: float64

In [ ]:
df[['w','x','y']]

          w         x         y
A  2.706850  0.628133  0.907969
B  0.651118 -0.319318 -0.848077
C -2.018168  0.740122  0.528813
D  0.188695 -0.758872 -0.933237
E  0.190794  1.978757  2.605967

In [ ]:
type(df['w'])

pandas.core.series.Series

In [ ]:
df

          w         x         y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df['new'] = df['w']

In [ ]:
df

          w         x         y         Z       new
A  2.706850  0.628133  0.907969  0.503826  2.706850
B  0.651118 -0.319318 -0.848077  0.605965  0.651118
C -2.018168  0.740122  0.528813 -0.589001 -2.018168
D  0.188695 -0.758872 -0.933237  0.955057  0.188695
E  0.190794  1.978757  2.605967  0.683509  0.190794

In [ ]:
df['new']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: new, dtype: float64

In [ ]:
df.drop('new', axis = 1)

          w         x         y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df.drop('new',axis = 1, inplace= True)

In [ ]:
df

          w         x         y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df.loc['E']

w    0.190794
x    1.978757
y    2.605967
Z    0.683509
Name: E, dtype: float64

In [ ]:
df.drop('E',axis = 0)

          w         x         y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [ ]:
df.loc['C','y']

0.5288134940893595

In [ ]:
df.loc[['A','B'],['w','x']]

          w         x
A  2.706850  0.628133
B  0.651118 -0.319318

In [ ]:
df

          w         x         y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df > 0

       w      x      y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [ ]:
booldf = df <0

In [ ]:
booldf

       w      x      y      Z
A  False  False  False  False
B  False   True   True  False
C   True  False  False   True
D  False   True   True  False
E  False  False  False  False

In [ ]:
df[df > 0]

          w         x         y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df['w'] >0

A     True
B     True
C    False
D     True
E     True
Name: w, dtype: bool

In [ ]:
df[df['y']>0]

          w         x         y         Z
A  2.706850  0.628133  0.907969  0.503826
C -2.018168  0.740122  0.528813 -0.589001
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df[df['y']>0]

          w         x         y         Z
A  2.706850  0.628133  0.907969  0.503826
C -2.018168  0.740122  0.528813 -0.589001
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df[df['x'] > 0]

          w         x         y         Z
A  2.706850  0.628133  0.907969  0.503826
C -2.018168  0.740122  0.528813 -0.589001
E  0.190794  1.978757  2.605967  0.683509

In [55]:
df[df['x']>0]

          w         x         y         Z
A  2.706850  0.628133  0.907969  0.503826
C -2.018168  0.740122  0.528813 -0.589001
E  0.190794  1.978757  2.605967  0.683509

In [56]:
df[df['x']>0]['w']

A    2.706850
C   -2.018168
E    0.190794
Name: w, dtype: float64

In [57]:
df

          w         x         y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [59]:
df[df['w']>0][['w','x','y']]

          w         x         y
A  2.706850  0.628133  0.907969
B  0.651118 -0.319318 -0.848077
D  0.188695 -0.758872 -0.933237
E  0.190794  1.978757  2.605967

In [60]:
df[(df['w']>0) & (df['x']>0)]

          w         x         y         Z
A  2.706850  0.628133  0.907969  0.503826
E  0.190794  1.978757  2.605967  0.683509

In [61]:
newindex = 'ac bc cc dc ec'.split()

In [62]:
newindex

['ac', 'bc', 'cc', 'dc', 'ec']

In [63]:
df['states'] = newindex

In [64]:
df

          w         x         y         Z states
A  2.706850  0.628133  0.907969  0.503826     ac
B  0.651118 -0.319318 -0.848077  0.605965     bc
C -2.018168  0.740122  0.528813 -0.589001     cc
D  0.188695 -0.758872 -0.933237  0.955057     dc
E  0.190794  1.978757  2.605967  0.683509     ec

In [76]:
df
abc = [0,1,2,3,4]

In [79]:
df['abc'] = [0,1,2,3,4]

In [80]:
df

               w         x         y         Z  abc
states
ac      2.706850  0.628133  0.907969  0.503826    0
bc      0.651118 -0.319318 -0.848077  0.605965    1
cc     -2.018168  0.740122  0.528813 -0.589001    2
dc      0.188695 -0.758872 -0.933237  0.955057    3
ec      0.190794  1.978757  2.605967  0.683509    4

In [81]:
df.set_index('abc',inplace=True)

In [82]:
df

            w         x         y         Z
abc
0    2.706850  0.628133  0.907969  0.503826
1    0.651118 -0.319318 -0.848077  0.605965
2   -2.018168  0.740122  0.528813 -0.589001
3    0.188695 -0.758872 -0.933237  0.955057
4    0.190794  1.978757  2.605967  0.683509

In [84]:
df.reset_index()

   abc         w         x         y         Z
0    0  2.706850  0.628133  0.907969  0.503826
1    1  0.651118 -0.319318 -0.848077  0.605965
2    2 -2.018168  0.740122  0.528813 -0.589001
3    3  0.188695 -0.758872 -0.933237  0.955057
4    4  0.190794  1.978757  2.605967  0.683509